# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Claude Code
.claude/
CLAUDE.md
SimBES - Claude.md
mejoras.md
propuesta_mejoras_simbes_v2.md

# Node
node_modules/
dist/
.DS_Store
M9_BES_Design_Flow.md

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# Env
.env
*.env
